@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Manrope&family=Roboto&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: auto;
  margin: 0%;
}

header {

  margin-top: auto;
  padding-bottom: auto;
  width: 100%;
  max-height: 75px;
  /*grid-area: hea;*/
}

footer {

  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 17, 3, 0.103);
  margin-top: 4%;
  /*grid-area: foot;*/


}

footer .ic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 195px;
  height: 130px;
  padding-top: 55px;
}

footer .ftr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div .ftx {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px
}

/*--------------header y footer--------*/










/* body*/
#bodx {

  background: linear-gradient(to bottom, rgba(20, 9, 4, 0.938), rgba(92, 44, 22, 0.336));
  margin: 0%;
  padding: 0%;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;

}

a {
  font-family: 'Roboto', sans-serif;
}

/*---------html-index--------*/
/*section cards y form*/
.main1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 1%;
  background-image: url(images/bgmain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5)
}

@media (max-width:1420px) {
  .cmain {
    max-width: 800px;
  }

}

/*formhome*/
.contform {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 250px;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5)
}

.frhome {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  border-radius: 3%;
}

.clbtf {
  display: flex;
  margin-left: 60%;
  margin-bottom: 3%;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5)
}

/*crads*/
.cmain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;


}

.btoncalen {
  padding-bottom: 3%;
  margin-bottom: 3%;
}

.card {
  width: 250px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  box-shadow: black;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5)
}

.imr {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}

/*------font-main----------*/
.h-main {
  font-size: 22px;
  font-weight: 600;
}

@media (max-width:680px) {
  .h-main {
    font-size: 18px;
    font-weight: 600;
  }
}



/*-----carrousel----*/

section .sectcar {
  max-width: 100%;
  max-height: 650px;
  justify-content: center;
}

.clcarru {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 100%;
  max-height: 450px;

}


.d-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.b-t-l {
  opacity: 0;

}



/*---------html-index--------*/

/*perfil--------------------------------*/


.contlogin {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
}

.imgform {
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5)
}

@media (max-width:600px) {
  .contlogin {
    max-width: 340px;
    max-width: auto;
  }


}


.right-box {
  padding: 40px 30px 40px 40px;

}

.left-box {
  padding-top: 1%;
}

.placeholder {
  font-size: 16px;

}

.intm {
  max-width: 500px;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5)
}



/*perfil--------------------------------*/

/*---------html-comunidad--------*/

.psct {
  display: flex;
  flex-direction: row;
  height: auto;


}


/*primer contenedor*/
.conmedia {
  display: flex;
  flex-wrap: wrap;
  gap: 2;
  justify-content: space-evenly;
}

.t-perfil {
  font-size: 40px;
  font-weight: 600;
}

@media (max-width:1024px) {
  .t-perfil {
    font-size: 30px;
  }
}

.conmedia p {
  color: whitesmoke;
}

.conmedia h1 {
  color: whitesmoke;
}

.conmedia label {
  color: whitesmoke;
}

@media (max-width:1455px) {
  .r-a-w {
    display: none;


  }

}

@media (max-width:1000px) {
  .r-a-w {
    display: block;


  }

}

@media (max-width:1600px) {
  .conmedia {
    display: flex;
    gap: 1;
    flex-wrap: wrap;
  }

  .mediatupost {
    display: flex;
    flex-direction: row;
    gap: 1;

  }
}

@media (max-width:1000px) {
  .mediatupost {
    display: flex;
    flex-direction: column;
    gap: 3;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    gap: 1;
  }

  .conmedia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    vertical-align: middle;
    gap: 3;


  }

  .sectmap iframe {
    display: none;
  }

  .post {
    max-width: 350px;
    height: auto;
    margin: auto;
  }

  .postbuscar {
    max-width: 350px;
    height: auto;
    margin: auto;

  }
}



.sectmap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  max-height: 600px;
  margin: 1%;
  padding: 1%;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5);


}

@media (max-width:560px) {
  .sectmap {
    display: none;

  }


}

.post {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 300px;
  margin: 1%;
  margin-top: 3%;
  padding: 1%;
  gap: 10px;
  border-style: solid;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5);
  gap: 4;

}

.post p {
  color: aliceblue;


}

.postbuscar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 450px;
  height: 300px;
  margin: 1%;
  margin: 1%;
  margin-top: 3%;
  padding: 1%;
  gap: 10px;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5);
  gap: 4;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.postbuscar img {
  width: 85px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(245 245, 245, 0.2);
  justify-self: top;
}

@media (max-width:1000px) {
  .postbuscar img {
    padding: 4%;
  }

  /* no es un crash es un stylo el pading como overflow*/
}

.postbuscar hr {
  color: whitesmoke;
}

.in-busqueda {
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.678);
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5);
  margin-bottom: 7px;

}

.in-po {
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0);
  padding: 1%;
  margin: 1%;
  border: none;
  background-color: rgba(245, 245, 245, 0.678);
}

/*********----*/
.inputbusqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}


.d-busqueda {
  justify-content: center;
  align-content: center;
}

.imgp {

  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5)
}


.radioinput {
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0);
  padding: 1%;
  margin: 1%;
  border: none;
  background-color: rgba(245, 245, 245, 0.678);

}

.calificar-comentar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 1%;
  padding: 1%;
}

.mi-elemento {
  display: none;
  background-color: rgba(44, 42, 42, 0.932);
  width: 250px;
  height: auto;
  overflow: visible;
  position: sticky;


}

#mi-checkbox:checked~.mi-elemento {
  display: block;
}
/*---------decime si no parecen del pokemon esmeralda los buttons*/
.my-button {
  margin: 4px;
  padding: 5px;
  height: 32px;
  width: 90px;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(83, 47, 30, 0.938), rgba(22, 78, 92, 0.336));
}

.my-button {
  color: whitesmoke;
}

/*---------------------faqs--------------*/
.cont-faqs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.t-faqs {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  padding: 10px;
  color: rgba(245, 245, 245, 0.534);


}

.v-onv {
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5)
}

.condicions-uso {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
  padding-top: 3%;
}

.box-faqs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 550px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.5);
  border-radius: 5px;
}

.img-faqs {
  height: 200px;
  width: 300px;
  box-shadow: 0 0 10px 5px rgba(0 0, 0, 0.4);
  border-radius: 5px;
}

.txt-boot-faqs {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.p-fondo-box {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.589);
}

@media (max-width:800px) {
  .v-onv {
    display: none;
  }

  .t-faqs {
    font-size: 25px;
    margin: 5px;
    padding-inline-start: 5px;
  }
}