.main-comunidad {
  display: flex;
  text-align: start;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  .newcard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: inline-block;
    max-height: 280px;
    max-width: 490px;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(87, 56, 42, 0.026);
  
    
    .imcard{
      display: flex;
      justify-content: center;
      margin-top: 5px;
      .imgcard{
        border-radius: 5px;
        
      }
    }
    p{opacity: 0.8;
      max-width: 280px;
     }
     .textocard{
      display: flex;
      text-align: center;
      align-items: center ;
      margin-top: 5px;
    form{opacity: 0.8;
  
    }
      input{
        width: 150px;
      }
      .plaholder{
        opacity: 0.5;
        border-radius: 3px;
        border-style: none;
        margin-top: 8px;
      }
    }
    .botoncard{
      border-radius: 20px;
      height: 25px;
      width:60px;
      background-color: rgba(114, 85, 134, 0.553);
      opacity: 0.5;
      border-style: hidden;
      box-shadow:0 0 2px 2px rgba(114, 85, 134, 0.553);
  
    }
  }
  p {
    color: whitesmoke;
  }

  h1 {
    color: whitesmoke;
  }

  label {
    color: whitesmoke;
  }

  /*--- my butun es genera----*/

  .titulo-perfil {
    font-size: 40px;
    font-weight: 600;
    
  }



  .section-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    max-height: 600px;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0.5);


  }

  .post p {
    color: aliceblue;


  }

  .article-tira-1 {
    display: flex;
    flex-direction: row;
    width: 490px;
    height: auto;
    margin: 20px;
    margin-top: 1%;
    padding: 1%;
    gap: 10px;
    border-style: solid;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0.5);
  
   

   
  }

  .postbuscar-article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 490px;
    height: 300px;
    margin: 20px;
    padding: 1%;
    gap: 10px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0.5);
    justify-content: center;
    align-content: center;
    align-self: center;
    text-align: center;

    .postbuscar-article hr {
      color: whitesmoke;
    }

    .postbuscar-article img {
      width: auto;
      box-shadow: 0 0 10px 5px rgba(2,2,2);
      justify-self: top;
    }

    .div-form-buscar {
      justify-content: center;
      align-content: center;
      .my-button{
      border-radius: 20px;
      height: 25px;
      width:80px;
      background-color: rgba(114, 85, 134, 0.553);
      opacity: 0.7;
      border-style: hidden;
      box-shadow:0 0 2px 2px rgba(114, 85, 134, 0.553);
      }
      .input-buscar-post {
        border-radius: 5px;
        background-color: rgba(240, 248, 255, 0);
        padding: 1%;
        margin: 1%;
        border: none;
        background-color: rgba(245, 245, 245, 0.678);
      }

      
    }

  }
}

@media (max-width:1024px) {
  .titulo-perfil {
    font-size: 30px;
  }
}

@media (max-width:1660px) {
  .section-2-crads-post {
    display: none;


  }

}

@media (max-width:1000px) {
  .section-2-crads-post {
    display: block;


  }

}

@media (max-width:1600px) {
  .main-comunidad {
    display: flex;
    gap: 1;
    flex-wrap: wrap;
  }

  .mediatupost {
    display: flex;
    flex-direction: row;
    gap: 1;

  }
}

@media (max-width:1000px) {
  .mediatupost {
    display: flex;
    flex-direction: column;
    gap: 3;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    gap: 1;
  }
  }
  @media (max-width:560px) {
    .section-map{
      display: none;
  
    }
  }
  @media (max-width:1000px) {
    .postbuscar-article img {
      padding: 4%;
    }
  
    /* no es un crash es un stylo el pading como overflow*/
  }
  
@media (max-width:1000px) {
  .mediatupost {
    display: flex;
    flex-direction: column;
    gap: 3;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: auto;
    gap: 1;
  }

  .main-comunidad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    vertical-align: middle;
    gap: 3;


  }

  .section-map iframe {
    display: none;
  }

  .post {
    max-width: 350px;
    height: auto;
    margin: auto;
  }

  .postbuscar {
    max-width: 350px;
    height: auto;
    margin: auto;

  }

}
/*-----card-test-----------*/
