.main-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1%;
    background-image: url(/images/bgmain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0.5);

    .h-main {
        font-size: 22px;
        font-weight: 600;
    }

    .contenedor-formulario {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 410px;
        width: 250px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0.5);
        margin: 5px;
        padding: 5px;
        border-radius: 10px;

        .form-calendario {
            display: flex;
            flex-wrap: wrap;
            padding: 1%;
            border-radius: 3%;

            .boton-calenar {
                display: flex;
                box-shadow: 0 0 10px 5px rgb(77, 77, 207);
                margin-bottom: 35px;
            }


        }
    }

    /*---------------------form calendar---------------------------*/
    .cards-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        justify-content: center;



        .card {
            width: 250px;
            border-top-left-radius: 3%;
            border-top-right-radius: 3%;
            box-shadow: black;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0.5);





            .img-cards {
                border-top-left-radius: 4%;
                border-top-right-radius: 4%;
                transition: all 300ms;
                position: relative;
            }

            img:hover {
                transform: scale(1.05);
                border-radius: 5px;
            }
        }
    }
}

/*------------------cards-------------------------*/
.imcarru {
    border-radius: 7px;

}

.carru-myclass {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    opacity: 0.8;

    @media (max-width:600px) {
        display: none;
    }

}