.article-contenedor-lgn {
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    .left-box {
        padding-top: 1%;
        .img-form-div{
            box-shadow: 0 0 10px 5px rgba( 0, 0, 0.5);
            @media (max-width:400px){
              display: none;
             }
          }
    }
    .left-box {
        padding-top: 1%;
        .placeholder {
            font-size: 16px;
         
          }
        
      }
}
@media (max-width:600px) {
    .article-contenedor-lgn{
      max-width: 340px;
      max-width: auto;
    }
  
  
  }

  
  