@mixin tarjetadecomunidad {display: flex;
    flex-direction: row;
    width: 490px;
    height: auto;
    margin: 1%;
    margin-top: 1%;
    padding: 1%;
    gap: 10px;
    border-style: solid;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0.5);
    gap: 4px;
}