footer {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-top: 15px;
    height: 130px;
    justify-content: center;
    align-items: center;
   
    background-color: rgba(51, 17, 3, 0.103);
   
  
   
.ftr {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  p{
    margin-top: 15px;
  }


  
  }