header {

    margin-top: auto;
    padding-bottom: auto;
    width: 100%;
    max-height: 75px;

    nav {
        width: auto;
        margin: 0%;
        img.imheader{
            height: 55px;
            width: 55px;
            margin-right: 3%;
        }
    }
}