
body{background-color: #ffe259;
    background:linear-gradient(to right, rgba(0, 140, 255, 0.459), rgba(5, 92, 119, 0.445)); }



    .bg{
        background-image: url(/images/loginpic.jpg);
        background-position: center center;
        background-size: cover;  
        justify-content: stretch;
    }

 #bgcl{background-color: rgba(152, 159, 204, 0.356);
}

footer{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(51, 17, 3, 0.103);
    margin-top: 4%;
 }
  
  footer .ic{display: flex;
    flex-direction: row;
     justify-content: space-evenly;
      width: 195px;
      height: 130px;
     padding-top: 50px;
  }
  
  footer .ftr{display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
  div .ftx{display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 20px;}